<div id="sourcesList">
    <!--<sources-list></sources-list>-->
    <ul>
        <li ng-repeat="source in sources">
            <input type="checkbox" id="{{source.id}}" ng-model="source.choose">
            <label for="{{source.id}}">{{source.name}}</label>
        </li>
    </ul>
</div>

<!--<div id="categoryList">-->
    <!--<ul>-->
        <!--<li ng-repeat="source in sources">-->
            <!--<input type="checkbox" id="{{source.id}}" ng-model="source.choose">-->
            <!--<label for="{{source.id}}">{{source.name}}</label>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->