<div id="sourcesList">
    <div class="chooseMessage">CHOOSE SOURCES</div>
    <ul>
        <li ng-repeat="source in sources">
            <input type="checkbox" id="{{source.id}}" ng-model="source.choose" ng-change="updateNews()">
            <label for="{{source.id}}">{{source.name}}</label>
        </li>
    </ul>
    <div class="resetButton active" ng-click="resetChoosedSources()">PRESS TO RESET</div>
</div>
<div id="newsList">
    <ul>
        <li ng-repeat="elem in news" ng-style="{'background': colors[elem.source.id]}">
            <a href="#!news/{{elem.source.id}}/{{elem.title}}">
                <span class="author">{{elem.author || 'Anonymous'}}&#58;</span>
                <span class="title">{{elem.title}}</span>
                <span class="date">{{parseTime(elem.publishedAt)}}</span>
            </a>
            <span class="button active" ng-if="!savingCheck(elem.title)" ng-click="saveForLater(elem.title)">Save for later</span>
            <span class="button saved" ng-if="savingCheck(elem.title)">Saved</span>
        </li>
    </ul>
</div>
<div class="clearFix"></div>