<div id="sourcesList">
    <ul>
        <li ng-repeat="source in sources">
            <input type="checkbox" id="{{source.id}}" ng-model="source.choose" ng-change="updateNews()">
            <label for="{{source.id}}">{{source.name}}</label>
        </li>
    </ul>
</div>
<div id="newsList">
    <ul>
        <li ng-repeat="elem in news">
            <span class="author">{{elem.author = elem.author || 'Anonymous'}}&#58;</span>
            <!--<span class="title">&#34;{{elem.title}}&#34;</span>-->
            <span class="title">{{elem.title}}</span>
            <span class="date">{{parseTime(elem.publishedAt)}}</span></li>
    </ul>
</div>
<div class="clearFix"></div>