<div id="newsList">
    <ul>
        <li ng-repeat="elem in news" ng-style="{'background': colors[elem.source.id]}">
            <a href="#!news/{{elem.source.id}}/{{elem.title}}">
                <span class="author">{{elem.author = elem.author || 'Anonymous'}}&#58;</span>
                <span class="title">{{elem.title}}</span>
                <span class="date">{{parseTime(elem.publishedAt)}}</span>
            </a>
            <span class="button active" ng-click="deleteSavedNews(elem.title)">Delete from saved</span>
        </li>
    </ul>
</div>