@import "reset";

body {
  margin: 0 3vw;
  font-size: 1vw;
  .clearFix {
    clear: both;
  }
  #mainTitle {
    height: 18vh;
    text-align: center;
    line-height: 18vh;
    font-size: 7vw;
  }
  #menu {
    border: solid lightgray 0.2vw;
    border-bottom-width: 0.1vw;
    ul {
      font-size: 0;
      .selected {
        background-color: rgba(211, 211, 211,0.2);
      }
      li {
        display: inline-block;
        font-size: 3vw;
        width: 25%;
        height: 5vw;
        text-align: center;
        line-height: 5vw;
        transition: 0.5s;
        &:hover {
          background-color: rgba(211, 211, 211,0.2);
        }
        a {
          display: block;
          width: 100%;
        }
      }
    }
  }
  #main {
    height: 65vh;
    border: 0.15vw solid lightgray;
    .active {
      cursor: pointer;
    }
    #sourcesList {
      border-right: 0.15vw solid lightgray;
      float: left;
      width: 22vw;
      height: 100.1%;
      font-size: 1.4vw;
      ul {
        height: calc(100% - 4vw);
        width: 100.1%;
        overflow: auto;
        li {
          input[type=checkbox] {
            display: none;
            &:checked + label {
              background-color: lightgray;
            }
          }
          label {
            display: block;
            padding: 0.2vw 0.8vw;
            margin: 0.2vw 0;
          }
        }
      }
      .resetButton, .chooseMessage {
        width: 100.1%;
        height: 2vw;
        background-color: lightgray;
        text-align: center;
        line-height: 2vw;
      }
    }
    #newsList {
      height: 100%;
      overflow: auto;
      font-size: 1.8vw;
      ul {
        li {
          margin: 0.5vw;
          padding: 1vw 1vw 3vw;
          position: relative;
          background-color: lightgray;
          .author {
            font-weight: bold;
          }
          .title {

          }
          .date {
            position: absolute;
            right: 0.5vw;
            bottom: 0.5vw;
            font-size: 1vw;
          }
          .button {
            position: absolute;
            left: 1vw;
            bottom: 0.5vw;
            font-size: 1vw;
            user-select: none;
            padding: 0.2vw;
            border-radius: 0.3vw;
            background-color: #FFD700;
            color: black;
          }
          .saved {
            background-color: #ADFF2F;
            color: black;
          }
        }
      }
    }
    #newsDetails {
      height: 100%;
      #image {
        width: 50%;
        height: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 95%;
          max-height: 95%
        }
        @media screen and (max-width: 1000px) {
          width: 100%;
          float: none;
          margin-top: 3vw;
        }
      }
      #details {
        padding: 4vw;
        #title {
          font-size: 2.5vw;
        }
        #author {
          text-align: right;
          margin-top: 1vw;
          font-style: italic;
        }
        #description {
          margin-top: 2vw;
          font-size: 1.5vw;
        }
        #source {
          margin-top: 3vw;
          text-align: center;
          font-size: 3vw;
        }
      }
    }
    #createNews {
      form {
        width: 30vw;
        margin: 5vw auto;
        fieldset {
          margin-bottom: 1vw;
          p {
            position: relative;
            margin: 1vw 0;
            label {
              font-size: 2vw;
            }
            input {
              width: 15vw;
              height: 2vw;
              position: absolute;
              top: 0;
              right: 0;
              font-size: 1.5vw;
            }
            border: 0.1vw solid white;
          }
          .invalid {
            border-color: red;
          }
        }
        button {
          width: 47%;
          height: 2vw;
          font-size: 1vw;
          &:first-of-type {
            float: left;
          }
          &:last-of-type {
            float: right;
          }
        }
      }
    }
    @media screen and (max-width: 1000px) {
      height: auto;
      min-height: 30vh;
    }
  }
}